/*-------------------------
	Simple reset
--------------------------*/

*{
	margin:0;
	padding:0;
}

/*-------------------------
	Logo
--------------------------*/

.service_logo {
    width: 75%;
    height: 75%;
}

/*-------------------------
	The main container (above footer)
--------------------------*/

#main {
	padding: 0px 20px 0px;
	min-height: 800px;
}

.switch_theme_icon_container {
    padding-top: 13px !important;;
    padding-bottom: 12px !important;;
}

.holiday_warning {
    color: red;
    display: none;
}