.textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    min-height: 50px;
    border-width: 2px;
    border-radius: 4px;
    border: 2px solid #dce4ec;
    box-shadow: none;
}

input[type="text"] {
    border-width: 2px;
    border-radius: 4px;
    border: 2px solid #dce4ec;
}

.api_closed {
    border-width: 2px;
    border-radius: 4px;
    border: 2px solid #dce4ec;
    box-shadow: none;
    background: repeating-linear-gradient(
      45deg,
      rgba(0,0,0,0),
      rgba(0,0,0,0) 10px,
      rgba(255, 0, 0, 0.2) 10px,
      rgba(255, 0, 0, 0.2) 20px
    );
}

a.timestamp {
    text-decoration: none;
    vertical-align: top;
    font-size: 0.8em;
}

.timestamp {
    vertical-align: top;
    font-size: 0.8em;
}

.new_gate_button {
    margin-bottom:5px;
    color: white !important;
}