<!DOCTYPE html>
<html>
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/fav.png' _external=False )}}">

<link href="{{ url_for('static', filename='css/base.css' _external=False )}}" rel=stylesheet type="text/css" media=screen>
{% if parameter.style == "night" %}
    <link href="{{ url_for('static', filename='3rd/css/darkly/bootstrap.min.css' _external=False )}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/footer_night.css' _external=False )}}" rel=stylesheet type="text/css" media=screen>
    <link href="{{ url_for('static', filename='css/night.css' _external=False )}}" rel=stylesheet type="text/css" media=screen>
{% else %}
    <link href="{{ url_for('static', filename='3rd/css/flatly/bootstrap.min.css' _external=False )}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/footer_day.css' _external=False )}}" rel=stylesheet type="text/css" media=screen>
    <link href="{{ url_for('static', filename='css/day.css' _external=False )}}" rel=stylesheet type="text/css" media=screen>
{% endif %}

<script src="{{ url_for('static', filename='3rd/js/jquery-2.1.4.min.js' _external=False )}}"></script>
<script src="{{ url_for('static', filename='3rd/js/bootstrap.min.js' _external=False )}}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    {% if title %}
        <title>{{ title }} - {{ app_name }}</title>
    {% else %}
        <title>{{ app_name }}</title>
    {% endif %}
</head>
<body>
<div id="main">

    {% set active_page = active_page|default('views.toggles') -%}

    {% if not cinema_mode %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{{ app_name }}</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% for id, caption in navigation_bar %}
                            <li {% if id== active_page %} class="active" {% endif %}>
                                <a href="{{ url_for(id _external=False )}}{{url_query}}">{{caption}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button id="style_change" type="button" class="btn btn-default btn-sm navbar-btn" aria-label="Left Align"
                                    {% if parameter.style == "night" %}
                                    data-style="day">
                                        Switch to day style
                                    {% else %}
                                        data-style="night">
                                        Switch to night style
                                    {% endif %}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    {% endif %}

    {% block content %}{% endblock %}

</div>

{% if not cinema_mode %}
    <script src="{{ url_for('static', filename='js/url_params.js' _external=False )}}"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <footer>
        <div class="container footerWrap">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <h4>Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="http://dev.otto.de/">Otto Dev Blog</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h4>Resources</h4>
                    <ul class="list-unstyled">
                        <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                        <li><a href="https://bootswatch.com/flatly/">Bootswatch: Flatly</a></li>
                        <li><a href="https://www.python.org/">Python</a></li>
                        <li><a href="http://flask.pocoo.org/">Flask</a></li>
                        <li><a href="https://api.mongodb.org/python/current/">Pymongo</a></li>
                        <li><a href="http://flaticons.net/">Flaticons</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <h4>Social</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://www.facebook.com/Otto" target="_blank">Facebook</a></li>
                        <li><a href="https://twitter.com/otto_de" target="_blank">Twitter</a></li>
                        <li><a href="https://www.youtube.com/user/OTTO" target="_blank">YouTube</a></li>
                        <li><a href="https://plus.google.com/+ottode" target="_blank">Google+</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="subFooter">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pull-left">
                            © 2015 <a href="http://otto.de/" target="_blank">Otto GmbH</a> /
                            <a href="/licenses">Licenses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endif %}
</body>
</html>
