{% macro holiday_entry(holiday={'is_live':true}) %}
    <div class="form-group holiday_entry">
        <div class="col-sm-2">
            <input type="text" class="form-control holiday_date" placeholder="Date" value="{{ holiday.date }}"/>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control holiday_reason" placeholder="Holiday name" value="{{ holiday.reason }}"/>
        </div>
        <div class="col-sm-4">
            <div class="btn-group" role="group" >
                <span type="button" class="btn btn-default holiday_is_develop {% if holiday.is_develop %} active {% endif %}" data-toggle="button">develop</span>
                <span type="button" class="btn btn-default holiday_is_live {% if holiday.is_live %} active {% endif %}" data-toggle="button">live</span>
            </div>
            <button type="button" class="remove_holiday btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
            </button>
        </div>
        <div class="holiday_warning holiday_dateformat_missing">
            <span class="glyphicon glyphicon-warning-sign"></span>
            Please enter date in the format DD.MM.YYYY
        </div>
        <div class="holiday_warning holiday_reason_missing">
            <span class="glyphicon glyphicon-warning-sign"></span>
            Please enter a short text for holiday reason.
        </div>
        <div class="holiday_warning holiday_evironment_missing">
            <span class="glyphicon glyphicon-warning-sign"></span>
            Please select at least one environment (develop,live) to which the holiday applies.
        </div>
    </div>

{% endmacro %}

<div style="margin:20px; min-width:900px; min-height:500px">
    <div id="new_gate_alert_box"></div>
    <form class="form-horizontal">
        <fieldset>
            <legend>Edit Holidays</legend>
            <small>Enter future holidays in the form of DD.MM.YYYY followed by an explanaion text e.g. 01.05.2018 1st May Bank Holiday, one entry one per line</small>
            <div id="holidays_list">
                {% for holiday in holidays %}
                    {{ holiday_entry(holiday) }}
                {% endfor %}
                {%  if not holidays %}
                    {{ holiday_entry() }}
                {% endif %}
            </div>
            <div id="holiday_item_template" style="display:none;">
                {{  holiday_entry() }}
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <button id="add_holiday" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                    </button>
                </div>
                <div class="col-sm-2 col-sn-offset-6">
                    <button id="save_holidays" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script async type="text/javascript" src="/static/js/edit_holidays_overlay.js"></script>
