<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tool Status</title>
    <link rel="stylesheet" href="{{ url_for('3rd/css/flatly/bootstrap.min.css' _external=False )}}">

<style type="text/css"></style></head>
<body>
<ol class="breadcrumb">
    <!--<li><a href="/internal">Internal</a></li>-->
    <li class="active">Status</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Application</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                        <dd>{{status.application.name}}</dd>
                        <dt>Description:</dt>
                        <dd>{{status.application.description}}</dd>
                        <dt>Group:</dt>
                        <dd>{{status.application.group}}</dd>
                        <dt>Environment:</dt>
                        <dd>{{status.application.environment}}</dd>
                        <dt>Status:</dt>
                        <dd>{{status.application.status}}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">System</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Host:</dt>
                        <dd>{{status.system.hostname}}</dd>
                        <dt>Port:</dt>
                        <dd>{{status.system.port}}</dd>
                        <dt>System Time:</dt>
                        <dd>{{status.system.systemtime}}</dd>
                        <dt>System Started</dt>
                        <dd>{{status.system.systemstarttime}}</dd>
                        <dt>System Uptime</dt>
                        <dd>{{status.system.uptime}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Version</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Version:</dt>
                        <dd>{{status.application.version}}</dd>
                        <dt>Git Commit:</dt>
                        <dd>{{status.application.commit}}</dd>
                        <dt>VCS:</dt>
                        <dd><a href="{{status.application.vcs_link}}">Link</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Team</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Name:</dt>
                        <dd>{{status.team.team}}</dd>
                        <dt>Technical Contact:</dt>
                        <dd>{{status.team.contact_technical}}</dd>
                        <dt>Business Contact:</dt>
                        <dd>{{status.team.contact_business}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Services in Use</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->

<script src="{{ url_for('3rd/js/jquery-2.1.4.min.js' _external=False )}}"></script>
<script src="{{ url_for('3rd/js/bootstrap.min.js' _external=False )}}"></script>
</body></html>
